@charset "UTF-8";

/* CSS de exportacao_controleescolar.fet
   Folha de estilo gerada em --/--/---- --:-- por FET 6.5.7 */

/* Para que as páginas sejam separadas a cada duas tabelas, delete "page-break-before: always;" em "table.even_table". */
/* Excluir "page-break-before: always;" em "table.even_table" e em "table.odd_table" para pular as quebras de página. */
/* Para ocultar um elemento, basta escrever a seguinte expressão no elemento: "display: none;" (sem aspas). */

p.back {
  margin-top: 4ex;
  margin-bottom: 5ex;
}

table {
  text-align: center;
  page-break-inside: avoid;
}

table.odd_table {
  page-break-before: always;
}

table.even_table {
  page-break-before: always;
}

table.detailed {
  margin-left: auto; margin-right: auto;
  text-align: center;
  border: 0px;
  border-spacing: 0;
  border-collapse: collapse;
}

caption {

}

thead {

}

/* Usamos "tr.foot" pois alguns programas importam "tfoot" incorretamente. */

tr.foot {

}

tbody {

}

th {

}

td {

}

td.detailed {
  border: 1px dashed silver;
  border-bottom: 0;
  border-top: 0;
}

th.xAxis {
/* width: 8em; */
}

th.yAxis {
  height: 8ex;
}

span.s_1 { /* subject Análise Econômica e Mercado - 1517 */

}

span.s_2 { /* subject Comunicação empresarial - 1157 */

}

span.s_3 { /* subject Contabilidade de Custos e Formação de Preços - 1492 */

}

span.s_4 { /* subject Direito Empresarial e Tributário - 1494 */

}

span.s_5 { /* subject Direito do Trabalho - 1520 */

}

span.s_6 { /* subject Empreendedorismo e Novos Negócios - 1518 */

}

span.s_7 { /* subject Estatística aplicada a estratégias empresariais - 1514 */

}

span.s_8 { /* subject Gestão Estratégica de Pessoas - 1496 */

}

span.s_9 { /* subject Gestão de Compras e Estoques - 1491 */

}

span.s_10 { /* subject Introdução a Contabilidade - 1158 */

}

span.s_11 { /* subject Marketing de Relacionamento - 1519 */

}

span.s_12 { /* subject Plano de Marketing - 1498 */

}

span.s_13 { /* subject Promoção e organização de eventos empresariais - 1495 */

}

span.s_14 { /* subject Técnicas de Vendas e Negociação - 1493 */

}

span.s_15 { /* subject Ética e Responsabilidade Social e Ambiental - 1497 */

}

span.s_16 { /* subject Cultura e Identidade Brasileira - 2253 */

}

span.s_17 { /* subject Língua Portuguesa para Estrangeiros - 2252 */

}

span.s_18 { /* subject Linguagem de Programação - 1484 */

}

span.s_19 { /* subject Lógica de Programação - 1483 */

}

span.s_20 { /* subject Biogeografia - 492 */

}

span.s_21 { /* subject Ecologia de ecossistemas (18:10 às 19:00) - 81 */

}

span.s_22 { /* subject Estágio curricular supervisionado em biologia II - 1421 */

}

span.s_23 { /* subject Estágio curricular supervisionado em ciências II - 2039 */

}

span.s_24 { /* subject Filosofia da educação e história da educação brasileira - 497 */

}

span.s_25 { /* subject Fisiologia animal comparada - 506 */

}

span.s_26 { /* subject Fisiologia vegetal - 504 */

}

span.s_27 { /* subject Genética básica e humana - 1304 */

}

span.s_28 { /* subject Genética de populações e evolução - 505 */

}

span.s_29 { /* subject PCCC 6 - Feira de ciências - 1301 */

}

span.s_30 { /* subject PCCC 8 - Origem e evolução da vida - 2037 */

}

span.s_31 { /* subject Parasitologia, higiene e saúde - 886 */

}

span.s_32 { /* subject Química geral - 495 */

}

span.s_33 { /* subject Química orgânica - 499 */

}

span.s_34 { /* subject Sistemática filogenética - 503 */

}

span.s_35 { /* subject Sociologia da educação - 1303 */

}

span.s_36 { /* subject Trabalho de conclusão de curso II - 1420 */

}

span.s_37 { /* subject Zoologia dos cordados I - 92 */

}

span.s_38 { /* subject Ética profissional, cidadania e direitos humanos - 87 */

}

span.s_39 { /* subject Desenvolvimento para Dispositivos Móveis - 19 */

}

span.s_40 { /* subject Engenharia de Software - 20 */

}

span.s_41 { /* subject Gestão de Projetos - 18 */

}

span.s_42 { /* subject Programação Orientada a Objetos - 21 */

}

span.s_43 { /* subject Programação para Sistemas Embarcados - 22 */

}

span.s_44 { /* subject Segurança em Sistemas e Redes - 23 */

}

span.s_45 { /* subject Telecomunicações e Geoprocessamento - 24 */

}

span.s_46 { /* subject Trabalho de Conclusão de Curso - 26 */

}

span.s_47 { /* subject Tópicos Especiais em Tecnologia da Informação - 25 */

}

span.s_48 { /* subject Engenharia de Interfaces e Usabilidade - 716 */

}

span.s_49 { /* subject Engenharia de Software e Metodologias Ágeis de Desenvolvimento - 717 */

}

span.s_50 { /* subject Linguagem de Programação - 718 */

}

span.s_51 { /* subject Programação Orientada a Objetos - 719 */

}

span.s_52 { /* subject Projeto Integrador - 720 */

}

span.s_53 { /* subject Agricultura geral - 466 */

}

span.s_54 { /* subject Agroecologia e DRS - 470 */

}

span.s_55 { /* subject Agroindustrialização de Produtos de Origem Vegetal e Animal (APOVA) - 1094 */

}

span.s_56 { /* subject Artes I - 458 */

}

span.s_57 { /* subject Artes II - 614 */

}

span.s_58 { /* subject Biologia I - 459 */

}

span.s_59 { /* subject Biologia II - 616 */

}

span.s_60 { /* subject Biologia III - 1083 */

}

span.s_61 { /* subject Construções e Instalações Rurais - 630 */

}

span.s_62 { /* subject Cultura e Cinema Nacional I - 831 */

}

span.s_63 { /* subject Cultura e Cinema Nacional II - 1192 */

}

span.s_64 { /* subject Cultura e Cinema Nacional III - 1193 */

}

span.s_65 { /* subject Culturas I - 627 */

}

span.s_66 { /* subject Culturas II - 1091 */

}

span.s_67 { /* subject Desenho técnico e topografia - 469 */

}

span.s_68 { /* subject Educação Física I - 457 */

}

span.s_69 { /* subject Educação Física II - 615 */

}

span.s_70 { /* subject Educação Física III - 1082 */

}

span.s_71 { /* subject Educação postural e Segurança no trabalho - 471 */

}

span.s_72 { /* subject Filosofia I - 464 */

}

span.s_73 { /* subject Filosofia II - 624 */

}

span.s_74 { /* subject Filosofia III - 1088 */

}

span.s_75 { /* subject Física I - 460 */

}

span.s_76 { /* subject Física II - 617 */

}

span.s_77 { /* subject Física III - 1084 */

}

span.s_78 { /* subject Geografia I - 463 */

}

span.s_79 { /* subject Geografia II - 623 */

}

span.s_80 { /* subject Gestão e Empreendedorismo Rural - 1095 */

}

span.s_81 { /* subject História I - 626 */

}

span.s_82 { /* subject História II - 1089 */

}

span.s_83 { /* subject Horticultura - 1090 */

}

span.s_84 { /* subject Informática instrumental e aplicada - 468 */

}

span.s_85 { /* subject Língua Portuguesa e Literatura I - 455 */

}

span.s_86 { /* subject Língua Portuguesa e Literatura II - 613 */

}

span.s_87 { /* subject Língua Portuguesa e Literatura III - 1081 */

}

span.s_88 { /* subject Língua estrangeira - Inglês - 456 */

}

span.s_89 { /* subject Matemática I - 462 */

}

span.s_90 { /* subject Matemática II - 622 */

}

span.s_91 { /* subject Matemática III - 1086 */

}

span.s_92 { /* subject Mecanização Agrícola, Irrigação e Drenagem - 1096 */

}

span.s_93 { /* subject Meteorologia e Bioclimatologia na Agropecuária - 631 */

}

span.s_94 { /* subject Orientação de estágio supervisionado - 1097 */

}

span.s_95 { /* subject Produção Animal I - 628 */

}

span.s_96 { /* subject Produção Animal II - 1093 */

}

span.s_97 { /* subject Química I - 461 */

}

span.s_98 { /* subject Química II - 618 */

}

span.s_99 { /* subject Química III - 1085 */

}

span.s_100 { /* subject Sanidade Animal - 1092 */

}

span.s_101 { /* subject Sistemas Agroflorestais - 629 */

}

span.s_102 { /* subject Sociologia I - 465 */

}

span.s_103 { /* subject Sociologia Rural - 625 */

}

span.s_104 { /* subject Sociologia e extensão rural - 1087 */

}

span.s_105 { /* subject Zootecnia Geral - 467 */

}

span.s_106 { /* subject Bovinocultura de Leite - 2209 */

}

span.s_107 { /* subject Culturas I - 1472 */

}

span.s_108 { /* subject Culturas III - 2222 */

}

span.s_109 { /* subject Extensão e Comunicação Rural - 2213 */

}

span.s_110 { /* subject Fertilidade, Manejo e Conservação dos Solos - 1473 */

}

span.s_111 { /* subject Forragicultura e pastagens - 1470 */

}

span.s_112 { /* subject Irrigação e Drenagem - 2216 */

}

span.s_113 { /* subject Metodologia Científica e Técnicas de Apresentação de Trabalhos - 1466 */

}

span.s_114 { /* subject Ovinocaprinocultura - 2218 */

}

span.s_115 { /* subject Piscicultura e Apicultura - 1471 */

}

span.s_116 { /* subject Projeto Integrador - 2211 */

}

span.s_117 { /* subject Tecnologia de Produtos de Origem Vegetal - 2220 */

}

span.s_118 { /* subject Tecnologias de Produtos de Origem Animal - 2219 */

}

span.s_119 { /* subject Topografia e Geoprocessamento - 1467 */

}

span.s_120 { /* subject Artes 1 - 121 */

}

span.s_121 { /* subject Artes 2 - 166 */

}

span.s_122 { /* subject Artes 3 - 221 */

}

span.s_123 { /* subject Biologia 1 - 122 */

}

span.s_124 { /* subject Biologia 2 - 168 */

}

span.s_125 { /* subject Biologia 3 - 202 */

}

span.s_126 { /* subject Biologia 4 - 222 */

}

span.s_127 { /* subject Cálculo Mecânico - 154 */

}

span.s_128 { /* subject Desenho Técnico - 1529 */

}

span.s_129 { /* subject Educação Física 1 - 123 */

}

span.s_130 { /* subject Educação Física 2 - 170 */

}

span.s_131 { /* subject Educação Física 3 - 203 */

}

span.s_132 { /* subject Elementos de Automação - 198 */

}

span.s_133 { /* subject Eletricidade e Medidas Elétricas - 1530 */

}

span.s_134 { /* subject Eletrônica - 1554 */

}

span.s_135 { /* subject Filosofia 1 - 124 */

}

span.s_136 { /* subject Filosofia 2 - 173 */

}

span.s_137 { /* subject Filosofia 3 - 204 */

}

span.s_138 { /* subject Filosofia 4 - 223 */

}

span.s_139 { /* subject Física 1 - 125 */

}

span.s_140 { /* subject Física 2 - 175 */

}

span.s_141 { /* subject Física 3 - 205 */

}

span.s_142 { /* subject Física 4 - 224 */

}

span.s_143 { /* subject Geografia 1 - 126 */

}

span.s_144 { /* subject Geografia 2 - 177 */

}

span.s_145 { /* subject Geografia 3 - 206 */

}

span.s_146 { /* subject Geografia 4 - 227 */

}

span.s_147 { /* subject História 1 - 131 */

}

span.s_148 { /* subject História 2 - 178 */

}

span.s_149 { /* subject História 3 - 207 */

}

span.s_150 { /* subject História 4 - 229 */

}

span.s_151 { /* subject Informática Instrumental - 1532 */

}

span.s_152 { /* subject Lingua Estrangeira Moderna - Espanhol - 1540 */

}

span.s_153 { /* subject Lingua Estrangeira Moderna 1 - Inglês - 179 */

}

span.s_154 { /* subject Lingua Estrangeira Moderna 2 - Ingles - 208 */

}

span.s_155 { /* subject Lingua Estrangeira Moderna 3 - Inglês - 230 */

}

span.s_156 { /* subject Lingua Portuguesa 1 - 138 */

}

span.s_157 { /* subject Lingua Portuguesa 2 - 183 */

}

span.s_158 { /* subject Lingua Portuguesa 3 - 209 */

}

span.s_159 { /* subject Lingua Portuguesa 4 - 232 */

}

span.s_160 { /* subject Manutenção Industrial e Gestão da Produção - 1592 */

}

span.s_161 { /* subject Matemática 1 - 142 */

}

span.s_162 { /* subject Matemática 2 - 185 */

}

span.s_163 { /* subject Matemática 3 - 210 */

}

span.s_164 { /* subject Matemática 4 - 234 */

}

span.s_165 { /* subject Metrologia - 1550 */

}

span.s_166 { /* subject Máquinas Térmicas e de Fluxo - 218 */

}

span.s_167 { /* subject Máquinas e Acionamentos - 1575 */

}

span.s_168 { /* subject Processos de Fabricação 1 - 1552 */

}

span.s_169 { /* subject Processos de Fabricação 2 - 1573 */

}

span.s_170 { /* subject Processos de Fabricação 3 - 1590 */

}

span.s_171 { /* subject Projeto Integrador - 1593 */

}

span.s_172 { /* subject Projetos e Instalações Elétricas - 200 */

}

span.s_173 { /* subject Química 1 - 143 */

}

span.s_174 { /* subject Química 2 - 187 */

}

span.s_175 { /* subject Química 3 - 211 */

}

span.s_176 { /* subject Química 4 - 235 */

}

span.s_177 { /* subject Segurança do Trabalho - 197 */

}

span.s_178 { /* subject Sistemas Digitais - 1553 */

}

span.s_179 { /* subject Sociologia 1 - 146 */

}

span.s_180 { /* subject Sociologia 2 - 189 */

}

span.s_181 { /* subject Sociologia 3 - 212 */

}

span.s_182 { /* subject Sociologia 4 - 238 */

}

span.s_183 { /* subject Tecnologia dos Materiais - 1531 */

}

span.s_184 { /* subject Análise de Circuitos - 341 */

}

span.s_185 { /* subject Circuitos Hidráulicos e Pneumáticos - 347 */

}

span.s_186 { /* subject Desenho Assistido por computador - 340 */

}

span.s_187 { /* subject Elementos de Máquinas - 349 */

}

span.s_188 { /* subject Eletrônica Analógica - 339 */

}

span.s_189 { /* subject Manutenção Industrial - 351 */

}

span.s_190 { /* subject Processos de Fabricação II - 344 */

}

span.s_191 { /* subject Programação de Equipamentos Industriais - 348 */

}

span.s_192 { /* subject Projetos Elétricos Industriais - 346 */

}

span.s_193 { /* subject Robótica Aplicada - 350 */

}

span.s_194 { /* subject Sistemas Digitais - 342 */

}

span.s_195 { /* subject Tecnologia dos Materiais - 343 */

}

span.s_196 { /* subject Acionamentos Elétricos (PPC2020) - 2309 */

}

span.s_197 { /* subject Análise de Circuitos - 2072 */

}

span.s_198 { /* subject Conservação de Recursos Naturais (PPC2020) - 2310 */

}

span.s_199 { /* subject Elementos de automação (PPC2020) - 2315 */

}

span.s_200 { /* subject Eletrônica Analógica (PPC 2020) - 2073 */

}

span.s_201 { /* subject Empreendedorismo (PPC2020) - 2312 */

}

span.s_202 { /* subject Energias alternativas (PPC2020) - 2313 */

}

span.s_203 { /* subject Gestão da Produção
 (PPC2020) - 2314 */

}

span.s_204 { /* subject Manutenção Elétrica Industrial
 (PPC2020) - 2311 */

}

span.s_205 { /* subject Português Instrumental - 2076 */

}

span.s_206 { /* subject Projetos Elétricos Residenciais e Prediais - 2074 */

}

span.s_207 { /* subject Segurança do Trabalho - 693 */

}

span.s_208 { /* subject Biologia IV - 196 */

}

span.s_209 { /* subject Filosofia IV - 193 */

}

span.s_210 { /* subject Física IV - 190 */

}

span.s_211 { /* subject Geografia III - 195 */

}

span.s_212 { /* subject História III - 194 */

}

span.s_213 { /* subject Língua Estrangeira Moderna II - Inglês - 545 */

}

span.s_214 { /* subject Língua Portuguesa IV - 186 */

}

span.s_215 { /* subject Matemática IV - 184 */

}

span.s_216 { /* subject Projeto Final de Curso - 181 */

}

span.s_217 { /* subject Projeto e Análise de Sistemas - 182 */

}

span.s_218 { /* subject Química IV - 191 */

}

span.s_219 { /* subject Sociologia IV - 192 */

}

span.s_220 { /* subject Tópicos Especiais em Linguagem de Programação - 36 */

}

span.s_221 { /* subject Tópicos Especiais em Tecnologia - 35 */

}

span.s_222 { /* subject Administração de Sistemas Operacionais e Redes - 1236 */

}

span.s_223 { /* subject Arte I - 1235 */

}

span.s_224 { /* subject Biologia I - 1073 */

}

span.s_225 { /* subject Biologia II - 1228 */

}

span.s_226 { /* subject Biologia III - 1241 */

}

span.s_227 { /* subject Desenvolvimento Responsivo e Otimização de Sites - 1249 */

}

span.s_228 { /* subject Desenvolvimento WEB Orientado a Objetos - 1237 */

}

span.s_229 { /* subject Educação Física I - 1072 */

}

span.s_230 { /* subject Educação Física II - 1227 */

}

span.s_231 { /* subject Filosofia I - 1139 */

}

span.s_232 { /* subject Filosofia II - 1232 */

}

span.s_233 { /* subject Filosofia III - 1245 */

}

span.s_234 { /* subject Fundamentos de informática - 1076 */

}

span.s_235 { /* subject Física I - 1070 */

}

span.s_236 { /* subject Física II - 1229 */

}

span.s_237 { /* subject Física III - 1242 */

}

span.s_238 { /* subject Geografia I - 1233 */

}

span.s_239 { /* subject Geografia II - 1247 */

}

span.s_240 { /* subject História I - 1224 */

}

span.s_241 { /* subject História II - 1234 */

}

span.s_242 { /* subject História III - 2236 */

}

span.s_243 { /* subject Laboratório de Banco de Dados - 1238 */

}

span.s_244 { /* subject Lingua estrangeira - Inglês - 1225 */

}

span.s_245 { /* subject Linguagens de apresentação e estruturação de conteúdos - 1074 */

}

span.s_246 { /* subject Língua Estrangeira Moderna: Espanhol - 2237 */

}

span.s_247 { /* subject Língua Portuguesa e Literatura I - 1069 */

}

span.s_248 { /* subject Língua Portuguesa e Literatura II - 1226 */

}

span.s_249 { /* subject Língua Portuguesa e Literatura III - 1240 */

}

span.s_250 { /* subject Lógica de programação - 1075 */

}

span.s_251 { /* subject Matemática I - 1064 */

}

span.s_252 { /* subject Matemática II - 1231 */

}

span.s_253 { /* subject Matemática III - 1244 */

}

span.s_254 { /* subject Projeto Integrador II - 1239 */

}

span.s_255 { /* subject Projeto Integrador III - 1253 */

}

span.s_256 { /* subject Projeto integrador I - 1078 */

}

span.s_257 { /* subject Prototipação de Interfaces e Interação Humano-Computador - 1251 */

}

span.s_258 { /* subject Química I - 1068 */

}

span.s_259 { /* subject Química II - 1230 */

}

span.s_260 { /* subject Química III - 1243 */

}

span.s_261 { /* subject Serviços em nuvem - 1250 */

}

span.s_262 { /* subject Sistemas Gerenciadores de Conteúdo WEB - 1252 */

}

span.s_263 { /* subject Sociologia I - 1071 */

}

span.s_264 { /* subject Sociologia II - 1246 */

}

span.s_265 { /* subject Aula Livre */

}

span.ss_1 { /* students set AGO2020 */

}

span.ss_4 { /* students set AGO2021 */

}

span.ss_7 { /* students set AGO2022 */

}

span.ss_8 { /* students set AGO2022 - Grupo A */

}

span.ss_10 { /* students set AGO2022 - Grupo B */

}

span.ss_12 { /* students set AGR2021 */

}

span.ss_15 { /* students set AGR2022 */

}

span.ss_18 { /* students set BIO2019 */

}

span.ss_24 { /* students set BIO2020 */

}

span.ss_27 { /* students set BIO_ESPECIAL */

}

span.ss_30 { /* students set EIN2019 */

}

span.ss_33 { /* students set EIN2020 */

}

span.ss_36 { /* students set EIN2021 */

}

span.ss_39 { /* students set EIN2022 */

}

span.ss_40 { /* students set EIN2022 - Grupo A */

}

span.ss_42 { /* students set EIN2022 - Grupo B */

}

span.ss_44 { /* students set ELE2021 */

}

span.ss_47 { /* students set ELE2022 */

}

span.ss_53 { /* students set ELM2021 */

}

span.ss_56 { /* students set ELM2022 */

}

span.ss_62 { /* students set FPE2022-2 */

}

span.ss_65 { /* students set IIN2019 */

}

span.ss_68 { /* students set IIW2020 */

}

span.ss_71 { /* students set IIW2021 */

}

span.ss_74 { /* students set IIW2022A */

}

span.ss_77 { /* students set IIW2022B */

}

span.ss_80 { /* students set TADS2020 */

}

span.ss_83 { /* students set TDS2021-2B */

}

span.ss_86 { /* students set TGC2021 */

}

span.ss_89 { /* students set TGC2022 */

}

span.ss_92 { /* students set TPS2022-2 */

}

span.t_1 { /* teacher Alex Miyamoto Mussi */

}

span.t_2 { /* teacher Alexandre José Schumacher */

}

span.t_3 { /* teacher Alexandre Rodrigues Monge */

}

span.t_4 { /* teacher Amilcar Machado Profeta Filho */

}

span.t_5 { /* teacher Ana Paula Sone */

}

span.t_6 { /* teacher Bruno Garcia Bonfim */

}

span.t_7 { /* teacher Carla Melli Tambarussi */

}

span.t_8 { /* teacher Caroline Domingues Porto do Nascimento Barbieri */

}

span.t_9 { /* teacher Celina de Oliveira Barbosa Gomes */

}

span.t_10 { /* teacher Cesar Gomes de Freitas */

}

span.t_11 { /* teacher Douglas Barbosa Sousa */

}

span.t_12 { /* teacher Eduardo Alberto Felippsen */

}

span.t_13 { /* teacher Eliana Peliçon Pereira Figueira */

}

span.t_14 { /* teacher Elias Franco */

}

span.t_15 { /* teacher Elizangela Cavazzini Cesca */

}

span.t_16 { /* teacher Everaldo Lorensetti */

}

span.t_17 { /* teacher Fabio Antônio da Silva */

}

span.t_18 { /* teacher Gabriele Antico Freiria */

}

span.t_19 { /* teacher Grazielli Bueno */

}

span.t_20 { /* teacher Humberto Fioravante Ferro */

}

span.t_21 { /* teacher Jhones Donizetti Mendes */

}

span.t_22 { /* teacher Joaquim José Honório de Lima */

}

span.t_23 { /* teacher José Jurandir Pereira Junior */

}

span.t_24 { /* teacher Josiane Paula Maltauro */

}

span.t_25 { /* teacher Karina Alves da Silva */

}

span.t_26 { /* teacher Karina Dias Espartosa */

}

span.t_27 { /* teacher Kathia Regina Kunzler Bechlin */

}

span.t_28 { /* teacher Keyla Christina Almeida Portela */

}

span.t_29 { /* teacher Kátia Cristiane Kobus Novaes */

}

span.t_30 { /* teacher Leandro Luiz Borges */

}

span.t_31 { /* teacher Leiliane Cristine de Souza */

}

span.t_32 { /* teacher Luis Henrique Manosso Von Mecheln */

}

span.t_33 { /* teacher Luiz Inácio Chaves */

}

span.t_34 { /* teacher Marcia Aparecida Barbosa */

}

span.t_35 { /* teacher Marcos Antonio Guido */

}

span.t_36 { /* teacher Mauro César de Souza Siena */

}

span.t_37 { /* teacher Michele Fernanda Bortolini */

}

span.t_38 { /* teacher Michelli Cristina Galli */

}

span.t_39 { /* teacher Milton Aparecido Azevedo */

}

span.t_40 { /* teacher Neomar Sandro Mignoni */

}

span.t_41 { /* teacher Novo(a) professor(a) Informática */

}

span.t_42 { /* teacher Octavio Henrique Viana */

}

span.t_43 { /* teacher Olavo José Luiz Junior */

}

span.t_44 { /* teacher Paula Magalhães Souza Deccache */

}

span.t_45 { /* teacher Pedro Leites Junior */

}

span.t_46 { /* teacher Polyanna Guimarães e Miranda */

}

span.t_47 { /* teacher Rafael Gil Ferques */

}

span.t_48 { /* teacher Rafael Luis Bartz */

}

span.t_49 { /* teacher Renata Carolina Pereira */

}

span.t_50 { /* teacher Renato Lada Guerreiro */

}

span.t_51 { /* teacher Roberto Haruyoshi Ito */

}

span.t_52 { /* teacher Sérgio Augusto Dias Castro */

}

span.t_53 { /* teacher Sérgio Takahashi */

}

span.t_54 { /* teacher Sônia Maria Mandotti */

}

span.t_55 { /* teacher Tatiane Martinazzo Portz */

}

span.t_56 { /* teacher Tiago Amaral Silva */

}

span.t_57 { /* teacher Tiago Henrique dos Santos */

}

span.t_58 { /* teacher Vander Fabio Silveira */

}

span.t_59 { /* teacher Vânio Berlin de Souza */

}

span.t_60 { /* teacher Wylliam Salviano Gongora */

}

span.r_1 { /* room BioPark-01 */

}

span.r_2 { /* room BioPark-02 */

}

span.r_3 { /* room BioPark-03 */

}

span.r_4 { /* room Educação Física / Sala 4 B2 */

}

span.r_5 { /* room Laboratório de Agro / Sala 1 B2 */

}

span.r_6 { /* room Laboratório de Biologia */

}

span.r_7 { /* room Laboratório de Computação Aplicada */

}

span.r_8 { /* room Laboratório de Desenho Técnico / Sala 5-2 */

}

span.r_9 { /* room Laboratório de Eletrônica */

}

span.r_10 { /* room Laboratório de Física */

}

span.r_11 { /* room Laboratório de Informatica A */

}

span.r_12 { /* room Laboratório de Informatica B */

}

span.r_13 { /* room Laboratório de Informatica C */

}

span.r_14 { /* room Laboratório de Materiais e Hidráulica B4 */

}

span.r_15 { /* room Laboratório de Metrologia B4 */

}

span.r_16 { /* room Laboratório de Máquinas e Acionamentos Elétricos B4 */

}

span.r_17 { /* room Laboratório de Química */

}

span.r_18 { /* room Laboratório de Usinagem B4 */

}

span.r_19 { /* room Sala 1-4 */

}

span.r_20 { /* room Sala 11-2 */

}

span.r_21 { /* room Sala 12-2 */

}

span.r_22 { /* room Sala 13-2 */

}

span.r_23 { /* room Sala 14-2 */

}

span.r_24 { /* room Sala 15-2 */

}

span.r_25 { /* room Sala 16-2 */

}

span.r_26 { /* room Sala 2-2 */

}

span.r_27 { /* room Sala 3-1 */

}

span.r_28 { /* room Sala 6-2 */

}

span.r_29 { /* room Sala 7-2 */

}

span.r_30 { /* room Sala 8-2 */

}

span.r_31 { /* room Sala 9-2 */

}

span.subject {

}

span.activitytag {

}

span.empty {
  color: gray;
}

td.empty {
  border-color: silver;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: dotted;
  border-top-style: dotted;
}

span.notAvailable {
  color: gray;
}

td.notAvailable {
  border-color: silver;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: dotted;
  border-top-style: dotted;
}

span.break {
  color: gray;
}

td.break {
  border-color: silver;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: dotted;
  border-top-style: dotted;
}

tr.studentsset, div.studentsset {

}

tr.teacher, div.teacher {

}

tr.room, div.room {

}

tr.line0, div.line0 {
  font-size: smaller;
}

tr.line1, div.line1 {

}

tr.line2, div.line2 {
  font-size: smaller;
  color: gray;
}

tr.line3, div.line3 {
  font-size: smaller;
  color: silver;
}

/* Tome cuidado. Você pode obter estilos mútuos e ambíguos. CSS significa que a última definição será usada. */

td.s_1 { /* subject Análise Econômica e Mercado - 1517 */

}

td.s_2 { /* subject Comunicação empresarial - 1157 */

}

td.s_3 { /* subject Contabilidade de Custos e Formação de Preços - 1492 */

}

td.s_4 { /* subject Direito Empresarial e Tributário - 1494 */

}

td.s_5 { /* subject Direito do Trabalho - 1520 */

}

td.s_6 { /* subject Empreendedorismo e Novos Negócios - 1518 */

}

td.s_7 { /* subject Estatística aplicada a estratégias empresariais - 1514 */

}

td.s_8 { /* subject Gestão Estratégica de Pessoas - 1496 */

}

td.s_9 { /* subject Gestão de Compras e Estoques - 1491 */

}

td.s_10 { /* subject Introdução a Contabilidade - 1158 */

}

td.s_11 { /* subject Marketing de Relacionamento - 1519 */

}

td.s_12 { /* subject Plano de Marketing - 1498 */

}

td.s_13 { /* subject Promoção e organização de eventos empresariais - 1495 */

}

td.s_14 { /* subject Técnicas de Vendas e Negociação - 1493 */

}

td.s_15 { /* subject Ética e Responsabilidade Social e Ambiental - 1497 */

}

td.s_16 { /* subject Cultura e Identidade Brasileira - 2253 */

}

td.s_17 { /* subject Língua Portuguesa para Estrangeiros - 2252 */

}

td.s_18 { /* subject Linguagem de Programação - 1484 */

}

td.s_19 { /* subject Lógica de Programação - 1483 */

}

td.s_20 { /* subject Biogeografia - 492 */

}

td.s_21 { /* subject Ecologia de ecossistemas (18:10 às 19:00) - 81 */

}

td.s_22 { /* subject Estágio curricular supervisionado em biologia II - 1421 */

}

td.s_23 { /* subject Estágio curricular supervisionado em ciências II - 2039 */

}

td.s_24 { /* subject Filosofia da educação e história da educação brasileira - 497 */

}

td.s_25 { /* subject Fisiologia animal comparada - 506 */

}

td.s_26 { /* subject Fisiologia vegetal - 504 */

}

td.s_27 { /* subject Genética básica e humana - 1304 */

}

td.s_28 { /* subject Genética de populações e evolução - 505 */

}

td.s_29 { /* subject PCCC 6 - Feira de ciências - 1301 */

}

td.s_30 { /* subject PCCC 8 - Origem e evolução da vida - 2037 */

}

td.s_31 { /* subject Parasitologia, higiene e saúde - 886 */

}

td.s_32 { /* subject Química geral - 495 */

}

td.s_33 { /* subject Química orgânica - 499 */

}

td.s_34 { /* subject Sistemática filogenética - 503 */

}

td.s_35 { /* subject Sociologia da educação - 1303 */

}

td.s_36 { /* subject Trabalho de conclusão de curso II - 1420 */

}

td.s_37 { /* subject Zoologia dos cordados I - 92 */

}

td.s_38 { /* subject Ética profissional, cidadania e direitos humanos - 87 */

}

td.s_39 { /* subject Desenvolvimento para Dispositivos Móveis - 19 */

}

td.s_40 { /* subject Engenharia de Software - 20 */

}

td.s_41 { /* subject Gestão de Projetos - 18 */

}

td.s_42 { /* subject Programação Orientada a Objetos - 21 */

}

td.s_43 { /* subject Programação para Sistemas Embarcados - 22 */

}

td.s_44 { /* subject Segurança em Sistemas e Redes - 23 */

}

td.s_45 { /* subject Telecomunicações e Geoprocessamento - 24 */

}

td.s_46 { /* subject Trabalho de Conclusão de Curso - 26 */

}

td.s_47 { /* subject Tópicos Especiais em Tecnologia da Informação - 25 */

}

td.s_48 { /* subject Engenharia de Interfaces e Usabilidade - 716 */

}

td.s_49 { /* subject Engenharia de Software e Metodologias Ágeis de Desenvolvimento - 717 */

}

td.s_50 { /* subject Linguagem de Programação - 718 */

}

td.s_51 { /* subject Programação Orientada a Objetos - 719 */

}

td.s_52 { /* subject Projeto Integrador - 720 */

}

td.s_53 { /* subject Agricultura geral - 466 */

}

td.s_54 { /* subject Agroecologia e DRS - 470 */

}

td.s_55 { /* subject Agroindustrialização de Produtos de Origem Vegetal e Animal (APOVA) - 1094 */

}

td.s_56 { /* subject Artes I - 458 */

}

td.s_57 { /* subject Artes II - 614 */

}

td.s_58 { /* subject Biologia I - 459 */

}

td.s_59 { /* subject Biologia II - 616 */

}

td.s_60 { /* subject Biologia III - 1083 */

}

td.s_61 { /* subject Construções e Instalações Rurais - 630 */

}

td.s_62 { /* subject Cultura e Cinema Nacional I - 831 */

}

td.s_63 { /* subject Cultura e Cinema Nacional II - 1192 */

}

td.s_64 { /* subject Cultura e Cinema Nacional III - 1193 */

}

td.s_65 { /* subject Culturas I - 627 */

}

td.s_66 { /* subject Culturas II - 1091 */

}

td.s_67 { /* subject Desenho técnico e topografia - 469 */

}

td.s_68 { /* subject Educação Física I - 457 */

}

td.s_69 { /* subject Educação Física II - 615 */

}

td.s_70 { /* subject Educação Física III - 1082 */

}

td.s_71 { /* subject Educação postural e Segurança no trabalho - 471 */

}

td.s_72 { /* subject Filosofia I - 464 */

}

td.s_73 { /* subject Filosofia II - 624 */

}

td.s_74 { /* subject Filosofia III - 1088 */

}

td.s_75 { /* subject Física I - 460 */

}

td.s_76 { /* subject Física II - 617 */

}

td.s_77 { /* subject Física III - 1084 */

}

td.s_78 { /* subject Geografia I - 463 */

}

td.s_79 { /* subject Geografia II - 623 */

}

td.s_80 { /* subject Gestão e Empreendedorismo Rural - 1095 */

}

td.s_81 { /* subject História I - 626 */

}

td.s_82 { /* subject História II - 1089 */

}

td.s_83 { /* subject Horticultura - 1090 */

}

td.s_84 { /* subject Informática instrumental e aplicada - 468 */

}

td.s_85 { /* subject Língua Portuguesa e Literatura I - 455 */

}

td.s_86 { /* subject Língua Portuguesa e Literatura II - 613 */

}

td.s_87 { /* subject Língua Portuguesa e Literatura III - 1081 */

}

td.s_88 { /* subject Língua estrangeira - Inglês - 456 */

}

td.s_89 { /* subject Matemática I - 462 */

}

td.s_90 { /* subject Matemática II - 622 */

}

td.s_91 { /* subject Matemática III - 1086 */

}

td.s_92 { /* subject Mecanização Agrícola, Irrigação e Drenagem - 1096 */

}

td.s_93 { /* subject Meteorologia e Bioclimatologia na Agropecuária - 631 */

}

td.s_94 { /* subject Orientação de estágio supervisionado - 1097 */

}

td.s_95 { /* subject Produção Animal I - 628 */

}

td.s_96 { /* subject Produção Animal II - 1093 */

}

td.s_97 { /* subject Química I - 461 */

}

td.s_98 { /* subject Química II - 618 */

}

td.s_99 { /* subject Química III - 1085 */

}

td.s_100 { /* subject Sanidade Animal - 1092 */

}

td.s_101 { /* subject Sistemas Agroflorestais - 629 */

}

td.s_102 { /* subject Sociologia I - 465 */

}

td.s_103 { /* subject Sociologia Rural - 625 */

}

td.s_104 { /* subject Sociologia e extensão rural - 1087 */

}

td.s_105 { /* subject Zootecnia Geral - 467 */

}

td.s_106 { /* subject Bovinocultura de Leite - 2209 */

}

td.s_107 { /* subject Culturas I - 1472 */

}

td.s_108 { /* subject Culturas III - 2222 */

}

td.s_109 { /* subject Extensão e Comunicação Rural - 2213 */

}

td.s_110 { /* subject Fertilidade, Manejo e Conservação dos Solos - 1473 */

}

td.s_111 { /* subject Forragicultura e pastagens - 1470 */

}

td.s_112 { /* subject Irrigação e Drenagem - 2216 */

}

td.s_113 { /* subject Metodologia Científica e Técnicas de Apresentação de Trabalhos - 1466 */

}

td.s_114 { /* subject Ovinocaprinocultura - 2218 */

}

td.s_115 { /* subject Piscicultura e Apicultura - 1471 */

}

td.s_116 { /* subject Projeto Integrador - 2211 */

}

td.s_117 { /* subject Tecnologia de Produtos de Origem Vegetal - 2220 */

}

td.s_118 { /* subject Tecnologias de Produtos de Origem Animal - 2219 */

}

td.s_119 { /* subject Topografia e Geoprocessamento - 1467 */

}

td.s_120 { /* subject Artes 1 - 121 */

}

td.s_121 { /* subject Artes 2 - 166 */

}

td.s_122 { /* subject Artes 3 - 221 */

}

td.s_123 { /* subject Biologia 1 - 122 */

}

td.s_124 { /* subject Biologia 2 - 168 */

}

td.s_125 { /* subject Biologia 3 - 202 */

}

td.s_126 { /* subject Biologia 4 - 222 */

}

td.s_127 { /* subject Cálculo Mecânico - 154 */

}

td.s_128 { /* subject Desenho Técnico - 1529 */

}

td.s_129 { /* subject Educação Física 1 - 123 */

}

td.s_130 { /* subject Educação Física 2 - 170 */

}

td.s_131 { /* subject Educação Física 3 - 203 */

}

td.s_132 { /* subject Elementos de Automação - 198 */

}

td.s_133 { /* subject Eletricidade e Medidas Elétricas - 1530 */

}

td.s_134 { /* subject Eletrônica - 1554 */

}

td.s_135 { /* subject Filosofia 1 - 124 */

}

td.s_136 { /* subject Filosofia 2 - 173 */

}

td.s_137 { /* subject Filosofia 3 - 204 */

}

td.s_138 { /* subject Filosofia 4 - 223 */

}

td.s_139 { /* subject Física 1 - 125 */

}

td.s_140 { /* subject Física 2 - 175 */

}

td.s_141 { /* subject Física 3 - 205 */

}

td.s_142 { /* subject Física 4 - 224 */

}

td.s_143 { /* subject Geografia 1 - 126 */

}

td.s_144 { /* subject Geografia 2 - 177 */

}

td.s_145 { /* subject Geografia 3 - 206 */

}

td.s_146 { /* subject Geografia 4 - 227 */

}

td.s_147 { /* subject História 1 - 131 */

}

td.s_148 { /* subject História 2 - 178 */

}

td.s_149 { /* subject História 3 - 207 */

}

td.s_150 { /* subject História 4 - 229 */

}

td.s_151 { /* subject Informática Instrumental - 1532 */

}

td.s_152 { /* subject Lingua Estrangeira Moderna - Espanhol - 1540 */

}

td.s_153 { /* subject Lingua Estrangeira Moderna 1 - Inglês - 179 */

}

td.s_154 { /* subject Lingua Estrangeira Moderna 2 - Ingles - 208 */

}

td.s_155 { /* subject Lingua Estrangeira Moderna 3 - Inglês - 230 */

}

td.s_156 { /* subject Lingua Portuguesa 1 - 138 */

}

td.s_157 { /* subject Lingua Portuguesa 2 - 183 */

}

td.s_158 { /* subject Lingua Portuguesa 3 - 209 */

}

td.s_159 { /* subject Lingua Portuguesa 4 - 232 */

}

td.s_160 { /* subject Manutenção Industrial e Gestão da Produção - 1592 */

}

td.s_161 { /* subject Matemática 1 - 142 */

}

td.s_162 { /* subject Matemática 2 - 185 */

}

td.s_163 { /* subject Matemática 3 - 210 */

}

td.s_164 { /* subject Matemática 4 - 234 */

}

td.s_165 { /* subject Metrologia - 1550 */

}

td.s_166 { /* subject Máquinas Térmicas e de Fluxo - 218 */

}

td.s_167 { /* subject Máquinas e Acionamentos - 1575 */

}

td.s_168 { /* subject Processos de Fabricação 1 - 1552 */

}

td.s_169 { /* subject Processos de Fabricação 2 - 1573 */

}

td.s_170 { /* subject Processos de Fabricação 3 - 1590 */

}

td.s_171 { /* subject Projeto Integrador - 1593 */

}

td.s_172 { /* subject Projetos e Instalações Elétricas - 200 */

}

td.s_173 { /* subject Química 1 - 143 */

}

td.s_174 { /* subject Química 2 - 187 */

}

td.s_175 { /* subject Química 3 - 211 */

}

td.s_176 { /* subject Química 4 - 235 */

}

td.s_177 { /* subject Segurança do Trabalho - 197 */

}

td.s_178 { /* subject Sistemas Digitais - 1553 */

}

td.s_179 { /* subject Sociologia 1 - 146 */

}

td.s_180 { /* subject Sociologia 2 - 189 */

}

td.s_181 { /* subject Sociologia 3 - 212 */

}

td.s_182 { /* subject Sociologia 4 - 238 */

}

td.s_183 { /* subject Tecnologia dos Materiais - 1531 */

}

td.s_184 { /* subject Análise de Circuitos - 341 */

}

td.s_185 { /* subject Circuitos Hidráulicos e Pneumáticos - 347 */

}

td.s_186 { /* subject Desenho Assistido por computador - 340 */

}

td.s_187 { /* subject Elementos de Máquinas - 349 */

}

td.s_188 { /* subject Eletrônica Analógica - 339 */

}

td.s_189 { /* subject Manutenção Industrial - 351 */

}

td.s_190 { /* subject Processos de Fabricação II - 344 */

}

td.s_191 { /* subject Programação de Equipamentos Industriais - 348 */

}

td.s_192 { /* subject Projetos Elétricos Industriais - 346 */

}

td.s_193 { /* subject Robótica Aplicada - 350 */

}

td.s_194 { /* subject Sistemas Digitais - 342 */

}

td.s_195 { /* subject Tecnologia dos Materiais - 343 */

}

td.s_196 { /* subject Acionamentos Elétricos (PPC2020) - 2309 */

}

td.s_197 { /* subject Análise de Circuitos - 2072 */

}

td.s_198 { /* subject Conservação de Recursos Naturais (PPC2020) - 2310 */

}

td.s_199 { /* subject Elementos de automação (PPC2020) - 2315 */

}

td.s_200 { /* subject Eletrônica Analógica (PPC 2020) - 2073 */

}

td.s_201 { /* subject Empreendedorismo (PPC2020) - 2312 */

}

td.s_202 { /* subject Energias alternativas (PPC2020) - 2313 */

}

td.s_203 { /* subject Gestão da Produção
 (PPC2020) - 2314 */

}

td.s_204 { /* subject Manutenção Elétrica Industrial
 (PPC2020) - 2311 */

}

td.s_205 { /* subject Português Instrumental - 2076 */

}

td.s_206 { /* subject Projetos Elétricos Residenciais e Prediais - 2074 */

}

td.s_207 { /* subject Segurança do Trabalho - 693 */

}

td.s_208 { /* subject Biologia IV - 196 */

}

td.s_209 { /* subject Filosofia IV - 193 */

}

td.s_210 { /* subject Física IV - 190 */

}

td.s_211 { /* subject Geografia III - 195 */

}

td.s_212 { /* subject História III - 194 */

}

td.s_213 { /* subject Língua Estrangeira Moderna II - Inglês - 545 */

}

td.s_214 { /* subject Língua Portuguesa IV - 186 */

}

td.s_215 { /* subject Matemática IV - 184 */

}

td.s_216 { /* subject Projeto Final de Curso - 181 */

}

td.s_217 { /* subject Projeto e Análise de Sistemas - 182 */

}

td.s_218 { /* subject Química IV - 191 */

}

td.s_219 { /* subject Sociologia IV - 192 */

}

td.s_220 { /* subject Tópicos Especiais em Linguagem de Programação - 36 */

}

td.s_221 { /* subject Tópicos Especiais em Tecnologia - 35 */

}

td.s_222 { /* subject Administração de Sistemas Operacionais e Redes - 1236 */

}

td.s_223 { /* subject Arte I - 1235 */

}

td.s_224 { /* subject Biologia I - 1073 */

}

td.s_225 { /* subject Biologia II - 1228 */

}

td.s_226 { /* subject Biologia III - 1241 */

}

td.s_227 { /* subject Desenvolvimento Responsivo e Otimização de Sites - 1249 */

}

td.s_228 { /* subject Desenvolvimento WEB Orientado a Objetos - 1237 */

}

td.s_229 { /* subject Educação Física I - 1072 */

}

td.s_230 { /* subject Educação Física II - 1227 */

}

td.s_231 { /* subject Filosofia I - 1139 */

}

td.s_232 { /* subject Filosofia II - 1232 */

}

td.s_233 { /* subject Filosofia III - 1245 */

}

td.s_234 { /* subject Fundamentos de informática - 1076 */

}

td.s_235 { /* subject Física I - 1070 */

}

td.s_236 { /* subject Física II - 1229 */

}

td.s_237 { /* subject Física III - 1242 */

}

td.s_238 { /* subject Geografia I - 1233 */

}

td.s_239 { /* subject Geografia II - 1247 */

}

td.s_240 { /* subject História I - 1224 */

}

td.s_241 { /* subject História II - 1234 */

}

td.s_242 { /* subject História III - 2236 */

}

td.s_243 { /* subject Laboratório de Banco de Dados - 1238 */

}

td.s_244 { /* subject Lingua estrangeira - Inglês - 1225 */

}

td.s_245 { /* subject Linguagens de apresentação e estruturação de conteúdos - 1074 */

}

td.s_246 { /* subject Língua Estrangeira Moderna: Espanhol - 2237 */

}

td.s_247 { /* subject Língua Portuguesa e Literatura I - 1069 */

}

td.s_248 { /* subject Língua Portuguesa e Literatura II - 1226 */

}

td.s_249 { /* subject Língua Portuguesa e Literatura III - 1240 */

}

td.s_250 { /* subject Lógica de programação - 1075 */

}

td.s_251 { /* subject Matemática I - 1064 */

}

td.s_252 { /* subject Matemática II - 1231 */

}

td.s_253 { /* subject Matemática III - 1244 */

}

td.s_254 { /* subject Projeto Integrador II - 1239 */

}

td.s_255 { /* subject Projeto Integrador III - 1253 */

}

td.s_256 { /* subject Projeto integrador I - 1078 */

}

td.s_257 { /* subject Prototipação de Interfaces e Interação Humano-Computador - 1251 */

}

td.s_258 { /* subject Química I - 1068 */

}

td.s_259 { /* subject Química II - 1230 */

}

td.s_260 { /* subject Química III - 1243 */

}

td.s_261 { /* subject Serviços em nuvem - 1250 */

}

td.s_262 { /* subject Sistemas Gerenciadores de Conteúdo WEB - 1252 */

}

td.s_263 { /* subject Sociologia I - 1071 */

}

td.s_264 { /* subject Sociologia II - 1246 */

}

td.s_265 { /* subject Aula Livre */

}

td.ss_1 { /* students set AGO2020 */

}

td.ss_4 { /* students set AGO2021 */

}

td.ss_7 { /* students set AGO2022 */

}

td.ss_8 { /* students set AGO2022 - Grupo A */

}

td.ss_10 { /* students set AGO2022 - Grupo B */

}

td.ss_12 { /* students set AGR2021 */

}

td.ss_15 { /* students set AGR2022 */

}

td.ss_18 { /* students set BIO2019 */

}

td.ss_24 { /* students set BIO2020 */

}

td.ss_27 { /* students set BIO_ESPECIAL */

}

td.ss_30 { /* students set EIN2019 */

}

td.ss_33 { /* students set EIN2020 */

}

td.ss_36 { /* students set EIN2021 */

}

td.ss_39 { /* students set EIN2022 */

}

td.ss_40 { /* students set EIN2022 - Grupo A */

}

td.ss_42 { /* students set EIN2022 - Grupo B */

}

td.ss_44 { /* students set ELE2021 */

}

td.ss_47 { /* students set ELE2022 */

}

td.ss_53 { /* students set ELM2021 */

}

td.ss_56 { /* students set ELM2022 */

}

td.ss_62 { /* students set FPE2022-2 */

}

td.ss_65 { /* students set IIN2019 */

}

td.ss_68 { /* students set IIW2020 */

}

td.ss_71 { /* students set IIW2021 */

}

td.ss_74 { /* students set IIW2022A */

}

td.ss_77 { /* students set IIW2022B */

}

td.ss_80 { /* students set TADS2020 */

}

td.ss_83 { /* students set TDS2021-2B */

}

td.ss_86 { /* students set TGC2021 */

}

td.ss_89 { /* students set TGC2022 */

}

td.ss_92 { /* students set TPS2022-2 */

}

td.t_1 { /* teacher Alex Miyamoto Mussi */

}

td.t_2 { /* teacher Alexandre José Schumacher */

}

td.t_3 { /* teacher Alexandre Rodrigues Monge */

}

td.t_4 { /* teacher Amilcar Machado Profeta Filho */

}

td.t_5 { /* teacher Ana Paula Sone */

}

td.t_6 { /* teacher Bruno Garcia Bonfim */

}

td.t_7 { /* teacher Carla Melli Tambarussi */

}

td.t_8 { /* teacher Caroline Domingues Porto do Nascimento Barbieri */

}

td.t_9 { /* teacher Celina de Oliveira Barbosa Gomes */

}

td.t_10 { /* teacher Cesar Gomes de Freitas */

}

td.t_11 { /* teacher Douglas Barbosa Sousa */

}

td.t_12 { /* teacher Eduardo Alberto Felippsen */

}

td.t_13 { /* teacher Eliana Peliçon Pereira Figueira */

}

td.t_14 { /* teacher Elias Franco */

}

td.t_15 { /* teacher Elizangela Cavazzini Cesca */

}

td.t_16 { /* teacher Everaldo Lorensetti */

}

td.t_17 { /* teacher Fabio Antônio da Silva */

}

td.t_18 { /* teacher Gabriele Antico Freiria */

}

td.t_19 { /* teacher Grazielli Bueno */

}

td.t_20 { /* teacher Humberto Fioravante Ferro */

}

td.t_21 { /* teacher Jhones Donizetti Mendes */

}

td.t_22 { /* teacher Joaquim José Honório de Lima */

}

td.t_23 { /* teacher José Jurandir Pereira Junior */

}

td.t_24 { /* teacher Josiane Paula Maltauro */

}

td.t_25 { /* teacher Karina Alves da Silva */

}

td.t_26 { /* teacher Karina Dias Espartosa */

}

td.t_27 { /* teacher Kathia Regina Kunzler Bechlin */

}

td.t_28 { /* teacher Keyla Christina Almeida Portela */

}

td.t_29 { /* teacher Kátia Cristiane Kobus Novaes */

}

td.t_30 { /* teacher Leandro Luiz Borges */

}

td.t_31 { /* teacher Leiliane Cristine de Souza */

}

td.t_32 { /* teacher Luis Henrique Manosso Von Mecheln */

}

td.t_33 { /* teacher Luiz Inácio Chaves */

}

td.t_34 { /* teacher Marcia Aparecida Barbosa */

}

td.t_35 { /* teacher Marcos Antonio Guido */

}

td.t_36 { /* teacher Mauro César de Souza Siena */

}

td.t_37 { /* teacher Michele Fernanda Bortolini */

}

td.t_38 { /* teacher Michelli Cristina Galli */

}

td.t_39 { /* teacher Milton Aparecido Azevedo */

}

td.t_40 { /* teacher Neomar Sandro Mignoni */

}

td.t_41 { /* teacher Novo(a) professor(a) Informática */

}

td.t_42 { /* teacher Octavio Henrique Viana */

}

td.t_43 { /* teacher Olavo José Luiz Junior */

}

td.t_44 { /* teacher Paula Magalhães Souza Deccache */

}

td.t_45 { /* teacher Pedro Leites Junior */

}

td.t_46 { /* teacher Polyanna Guimarães e Miranda */

}

td.t_47 { /* teacher Rafael Gil Ferques */

}

td.t_48 { /* teacher Rafael Luis Bartz */

}

td.t_49 { /* teacher Renata Carolina Pereira */

}

td.t_50 { /* teacher Renato Lada Guerreiro */

}

td.t_51 { /* teacher Roberto Haruyoshi Ito */

}

td.t_52 { /* teacher Sérgio Augusto Dias Castro */

}

td.t_53 { /* teacher Sérgio Takahashi */

}

td.t_54 { /* teacher Sônia Maria Mandotti */

}

td.t_55 { /* teacher Tatiane Martinazzo Portz */

}

td.t_56 { /* teacher Tiago Amaral Silva */

}

td.t_57 { /* teacher Tiago Henrique dos Santos */

}

td.t_58 { /* teacher Vander Fabio Silveira */

}

td.t_59 { /* teacher Vânio Berlin de Souza */

}

td.t_60 { /* teacher Wylliam Salviano Gongora */

}

/* Completar as horas livres dos professores */

div.DESCRIPTION {
  text-align: left;
  font-size: smaller;
}

div.TEACHER_HAS_SINGLE_GAP {
  color: black;
}

div.TEACHER_HAS_BORDER_GAP {
  color: gray;
}

div.TEACHER_HAS_BIG_GAP {
  color: silver;
}

div.TEACHER_MUST_COME_EARLIER {
  color: purple;
}

div.TEACHER_MUST_COME_MUCH_EARLIER {
  font-size: smaller;
  color: fuchsia;
}

div.TEACHER_MUST_STAY_LONGER {
  color: teal;
}

div.TEACHER_MUST_STAY_MUCH_LONGER {
  font-size: smaller;
  color: aqua;
}

div.TEACHER_HAS_A_FREE_DAY {
  font-size: smaller;
  color: red;
}

div.TEACHER_IS_NOT_AVAILABLE {
  font-size: smaller;
  color: olive;
}

/* Final do arquivo. */
